<a
  class="card"
  [style.--backgroundColor]="playlist().backgroundColor"
  [style.--textColor]="playlist().textColor"
  [style.--backgroundImage]="playlist().backgroundImage"
  [style.--secondaryTextColor]="playlist().secondaryTextColor"
  [style.--playlist-background]="'playlist-background-' + playlist().id"
  [routerLink]="'/playlists/' + playlist().id"
>
  @if (playlist().backgroundAnimation === 'floatingSquares') {
    <app-floating-squares [isRounded]="true" />
  } @else if (playlist().backgroundAnimation === 'purpleVideo') {
    <app-background-video [isRounded]="true" />
  } @else {
    <div class="solid-background playlist-background"></div>
  }

  <app-card-header [user]="playlist().user" />

  <h2 class="playlist-title">{{ playlist().title }}</h2>

  <app-card-stats [stats]="playlist().stats" />

  <app-card-media [id]="playlist().id" [media]="playlist().media" [title]="playlist().title" />
</a>
